# Zlyme SD image for my355.
# idbloader at 32K (bootrom). u-boot FIT at 8M, GPT name "uboot".

image boot.vfat {
	vfat {
		label = "ZLYMEBOOT"
		files = {
			"Image",
			"rk3566-miyoo-flip.dtb",
			"extlinux",
		}
	}
	size = 64M
}

image zlyme.img {
	hdimage {
		partition-table-type = "gpt"
	}

	partition idbloader {
		in-partition-table = false
		image = "idbloader.img"
		offset = 32K
	}

	partition uboot {
		partition-type-uuid = "L"
		image = "u-boot.itb"
		offset = 8M
		size = 4M
	}

	partition boot {
		partition-type-uuid = "F"
		image = "boot.vfat"
		offset = 12M
		bootable = true
	}

	partition rootfs {
		partition-type-uuid = "L"
		image = "rootfs.squashfs"
		offset = 76M
	}

	partition storage {
		partition-type-uuid = "L"
		image = "storage.exfat"
	}
}
