# Defaults for a first RetroArch start. Override from
# /storage/.config/retroarch/retroarch.cfg after that.
#
# No udev (devtmpfs only): input is SDL2. Video is GLES/KMS.
# Audio uses the default PCM from /etc/asound.conf.

video_driver = "gl"
video_fullscreen = "true"
video_vsync = "true"
video_smooth = "false"
video_font_enable = "false"

audio_driver = "alsa"
audio_device = "default"

input_driver = "sdl2"
input_joypad_driver = "sdl2"

libretro_directory = "/usr/lib/libretro"
menu_driver = "rgui"

# Hotkey + start exits (hotkey is Select).
input_enable_hotkey_btn = "8"
input_exit_emulator_btn = "9"
