# Spruce Flip performance keys plus MENU binds. ra-run --appendconfig
# merges this after /etc/retroarch.cfg so an older image still gets them
# from the card. RA 1.22: input driver "sdl" is SDL3; we want sdl2.
# Enable Hotkey stays nul so a MENU tap is not delayed/blocked.

input_driver = "sdl2"
input_joypad_driver = "sdl2"
joypad_autoconfig_dir = "/usr/share/zlyme/retroarch/autoconfig"
input_autodetect_enable = "true"
input_enable_hotkey_btn = "nul"
input_menu_toggle_btn = "5"
input_hotkey_block_delay = "0"
input_exit_emulator_btn = "nul"

video_threaded = "true"
video_hard_sync = "false"
video_frame_delay = "0"
video_max_swapchain_images = "3"
audio_latency = "64"
audio_out_rate = "48000"
rewind_enable = "false"
run_ahead_enabled = "false"
fastforward_frameskip = "true"
notification_show_autoconfig = "false"

menu_driver = "rgui"
rgui_menu_color_theme = "custom"
rgui_entry_normal_color = "0xFFF2F3F5"
rgui_entry_hover_color = "0xFFFA7C08"
rgui_title_color = "0xFFFA7C08"
rgui_bg_dark_color = "0xFF050608"
rgui_bg_light_color = "0xFF050608"
rgui_border_dark_color = "0xFFEC2A01"
rgui_border_light_color = "0xFFFA7C08"
