# Spruce Flip performance keys plus MENU binds. ra-run --appendconfig
# merges this after /etc/retroarch.cfg so an older image still gets them
# from the card. MENU opens the RA menu; MENU+Start exits.

input_enable_hotkey_btn = "10"
input_menu_toggle_btn = "10"
input_exit_emulator_btn = "9"

video_threaded = "true"
video_hard_sync = "false"
video_frame_delay = "0"
video_max_swapchain_images = "3"
audio_latency = "64"
audio_out_rate = "48000"
rewind_enable = "false"
run_ahead_enabled = "false"
fastforward_frameskip = "true"
notification_show_autoconfig = "false"
