# Seeded to /storage/.config/retroarch/retroarch.cfg on first boot only.
# ra-run --appendconfig uses /etc/retroarch.cfg (hotkeys + perf). video_driver
# lives here so the user can switch gl/vulkan in RetroArch and keep it.

video_driver = "gl"
video_fullscreen = "true"
video_vsync = "true"
video_smooth = "false"
video_font_enable = "false"
video_threaded = "true"
video_hard_sync = "false"
video_frame_delay = "0"
video_max_swapchain_images = "3"

audio_driver = "alsa"
audio_device = "default"
audio_latency = "64"
audio_out_rate = "48000"
audio_sync = "true"

input_driver = "sdl2"
input_joypad_driver = "sdl2"

libretro_directory = "/usr/lib/libretro"
system_directory = "/storage/Bios"
savefile_directory = "/storage/Saves"
savestate_directory = "/storage/Saves"
rgui_browser_directory = "/storage/Roms"
menu_driver = "rgui"
rgui_menu_color_theme = "custom"
rgui_entry_normal_color = "0xFFF2F3F5"
rgui_entry_hover_color = "0xFFFA7C08"
rgui_title_color = "0xFFFA7C08"
rgui_bg_dark_color = "0xFF050608"
rgui_bg_light_color = "0xFF050608"
rgui_border_dark_color = "0xFFEC2A01"
rgui_border_light_color = "0xFFFA7C08"

rewind_enable = "false"
run_ahead_enabled = "false"
fastforward_frameskip = "true"

notification_show_save_state = "true"
notification_show_screenshot = "true"
notification_show_autoconfig = "false"

joypad_autoconfig_dir = "/usr/share/zlyme/retroarch/autoconfig"
input_autodetect_enable = "true"
input_enable_vibration = "true"
input_enable_hotkey_btn = "nul"
input_menu_toggle_btn = "5"
input_hotkey_block_delay = "0"
input_exit_emulator_btn = "nul"
menu_show_core_updater = "false"
assets_directory = "/storage/.config/retroarch/assets"
