# Seeded to /storage/.config/retroarch/retroarch.cfg on first boot.
# See /etc/retroarch.cfg for the comments.

video_driver = "gl"
video_fullscreen = "true"
video_vsync = "true"
video_smooth = "false"
video_font_enable = "false"

audio_driver = "alsa"
audio_device = "default"

input_driver = "sdl2"
input_joypad_driver = "sdl2"

libretro_directory = "/usr/lib/libretro"
menu_driver = "rgui"

input_enable_hotkey_btn = "8"
input_exit_emulator_btn = "9"
