# Last --appendconfig file. User retroarch.cfg cannot override these.
menu_driver = "rgui"
rgui_menu_color_theme = "custom"
rgui_entry_normal_color = "0xFFF2F3F5"
rgui_entry_hover_color = "0xFFFA7C08"
rgui_title_color = "0xFFFA7C08"
rgui_bg_dark_color = "0xFF050608"
rgui_bg_light_color = "0xFF050608"
rgui_border_dark_color = "0xFFEC2A01"
rgui_border_light_color = "0xFFFA7C08"
